node-red/flows.json
[{"id":"9ea76365.a922d","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"748ba788.84b438","type":"ui_button","z":"9ea76365.a922d","name":"","group":"c4a39e0a.807d1","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"1","payloadType":"num","topic":"","x":570,"y":380,"wires":[["2cedd5de.8f856a"]]},{"id":"1f462085.1c0bff","type":"ui_button","z":"9ea76365.a922d","name":"","group":"c4a39e0a.807d1","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"2","payloadType":"num","topic":"","x":570,"y":440,"wires":[["2cedd5de.8f856a"]]},{"id":"3b80b8a1.5e93c8","type":"ui_button","z":"9ea76365.a922d","name":"","group":"c4a39e0a.807d1","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"3","payloadType":"num","topic":"","x":570,"y":500,"wires":[["2cedd5de.8f856a"]]},{"id":"3bac4a.fa1053b6","type":"ui_button","z":"9ea76365.a922d","name":"","group":"c4a39e0a.807d1","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"4","payloadType":"num","topic":"","x":570,"y":560,"wires":[["2cedd5de.8f856a"]]},{"id":"5ca809f9.2f0c78","type":"function","z":"9ea76365.a922d","name":"","func":"var myRelay = -1;\nvar msg1 = {background:\"RED\", payload:\"TURN OFF\"};\nmyRelay = parseInt(msg.payload);\nif(myRelay > -1 && myRelay <256)\n{\n    flow.set(\"relays\", myRelay);\n    if(myRelay & 1)\n    {\n        msg1.background = \"GREEN\";\n        msg1.payload = \"TURN OFF\";\n    }\n    else\n    {\n        msg1.background = \"GREY\"\n        msg1.payload = \"TURN ON\"\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["748ba788.84b438"]]},{"id":"a711709.fe2309","type":"exec","z":"9ea76365.a922d","command":"4relay 0 write ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1010,"y":400,"wires":[[],[],[]]},{"id":"330020cc.7f2a8","type":"delay","z":"9ea76365.a922d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":320,"wires":[["f133ad90.93da1"]]},{"id":"f133ad90.93da1","type":"exec","z":"9ea76365.a922d","command":"4relay 0 read","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":170,"y":380,"wires":[["5ca809f9.2f0c78","57077916.5bd7f8","61cba234.e09a8c","96093f41.f5f4f"],[],[]]},{"id":"2cedd5de.8f856a","type":"function","z":"9ea76365.a922d","name":"","func":"var myRelays;\nvar msg1 = {payload:\"\"};\n\nmyRelays = flow.get(\"relays\");\nif((1 << (msg.payload-1)) & myRelays)\n{\n    msg1.payload = String(msg.payload) + \" 0\";\n}\nelse\n{\n    msg1.payload = String(msg.payload) + \" 1\";\n}\nreturn msg1;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["a711709.fe2309","330020cc.7f2a8"]]},{"id":"57077916.5bd7f8","type":"function","z":"9ea76365.a922d","name":"","func":"var myRelay = -1;\nvar msg1 = {background:\"RED\", payload:\"TURN OFF\"};\nmyRelay = parseInt(msg.payload);\nif(myRelay > -1 && myRelay <256)\n{\n    flow.set(\"relays\", myRelay);\n    if(myRelay & 2)\n    {\n        msg1.background = \"GREEN\";\n        msg1.payload = \"TURN OFF\";\n    }\n    else\n    {\n        msg1.background = \"GREY\"\n        msg1.payload = \"TURN ON\"\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["1f462085.1c0bff"]]},{"id":"61cba234.e09a8c","type":"function","z":"9ea76365.a922d","name":"","func":"var myRelay = -1;\nvar msg1 = {background:\"RED\", payload:\"TURN OFF\"};\nmyRelay = parseInt(msg.payload);\nif(myRelay > -1 && myRelay <256)\n{\n    flow.set(\"relays\", myRelay);\n    if(myRelay & 4)\n    {\n        msg1.background = \"GREEN\";\n        msg1.payload = \"TURN OFF\";\n    }\n    else\n    {\n        msg1.background = \"GREY\"\n        msg1.payload = \"TURN ON\"\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["3b80b8a1.5e93c8"]]},{"id":"96093f41.f5f4f","type":"function","z":"9ea76365.a922d","name":"","func":"var myRelay = -1;\nvar msg1 = {background:\"RED\", payload:\"TURN OFF\"};\nmyRelay = parseInt(msg.payload);\nif(myRelay > -1 && myRelay <256)\n{\n    flow.set(\"relays\", myRelay);\n    if(myRelay & 8)\n    {\n        msg1.background = \"GREEN\";\n        msg1.payload = \"TURN OFF\";\n    }\n    else\n    {\n        msg1.background = \"GREY\"\n        msg1.payload = \"TURN ON\"\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["3bac4a.fa1053b6"]]},{"id":"6b888991.9be308","type":"change","z":"9ea76365.a922d","name":"","rules":[{"t":"set","p":"color","pt":"flow","to":"GREY","tot":"str"},{"t":"set","p":"relays","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":100,"wires":[[]]},{"id":"d7a96c7b.50386","type":"inject","z":"9ea76365.a922d","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":850,"y":240,"wires":[["330020cc.7f2a8"]]},{"id":"c4a39e0a.807d1","type":"ui_group","z":"","name":"RELAYS","tab":"e34686d5.722b38","order":2,"disp":true,"width":"4","collapse":false},{"id":"e34686d5.722b38","type":"ui_tab","z":"","name":"4 - RELAYS","icon":"dashboard","disabled":false,"hidden":false}]
